In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
base_url="https://www.airlinequality.com/airline-reviews/british-airways"
pages=10
page_size=100  
reviews=[]

In [4]:
for i in range (1,pages+1):
    print(f"Scraping Page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    #collect the HTML data from this page
    response = requests.get(url)

    #Parse content
    content = response.content
    ##print(f"---------------content--------------------------")
    ##print(content)
    parsed_content= BeautifulSoup(content,'html.parser')
    ##print(f"---------------parsed_content--------------------------")
    ##print(parsed_content)

    for para in parsed_content.find_all("div",{"class": "text_content"}):
        reviews.append(para.get_text())
        
    ##print(f"---------------reviews--------------------------")
    ##print(reviews)

    print(f" --> {len(reviews)} total reviews")

Scraping Page 1
 --> 100 total reviews
Scraping Page 2
 --> 200 total reviews
Scraping Page 3
 --> 300 total reviews
Scraping Page 4
 --> 400 total reviews
Scraping Page 5
 --> 500 total reviews
Scraping Page 6
 --> 600 total reviews
Scraping Page 7
 --> 700 total reviews
Scraping Page 8
 --> 800 total reviews
Scraping Page 9
 --> 900 total reviews
Scraping Page 10
 --> 1000 total reviews

In [5]:
df=pd.DataFrame()
df['reviews']=reviews
df.head()

                                             reviews
0  ✅ Trip Verified |   Flight BA 0560 arrived in ...
1  ✅ Trip Verified |   This was the first time I ...
2  ✅ Trip Verified |   Pretty good flight but sti...
3  ✅ Trip Verified | Check in was fine, but no pr...
4  ✅ Trip Verified | British Airways is absolute ...

In [6]:
df.to_csv("BA_reviews.csv")

In [12]:
pd.read_csv("BA_reviews.csv")
df.tail()

                                               reviews
995  ✅ Trip Verified |  London to Larnaca. New A321...
996  Not Verified |  Gatwick to Orlando. Excellent ...
997  ✅ Trip Verified |  London to Munich. The plane...
998  ✅ Trip Verified |  London to Glasgow. BA custo...
999  ✅ Trip Verified |  The seating configuration m...

In [9]:
df.isnull().sum()

reviews    0
dtype: int64

In [11]:
df.describe()

                                                  reviews
count                                                1000
unique                                               1000
top     ✅ Trip Verified |   Flight BA 0560 arrived in ...
freq                                                    1